{
  "debug": false,
  "host": "localhost",
  "port": 3000,
  "ssl": {
    "enabled": false,
    "keyfile": "",
    "cert": "",
    "cafile": ""
  },
  "oauth": {
    "client": "",
    "secret": ""
  },
  "users": {
    "host": "",
    "bot": ""
  }
}
