<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Stevelabs</title>
</head>
<body>
	<header>
		<h1>Stevelabs</h1>
		<nav>
			<ul>
				<li><a href="/admin/settings">Settings</a></li>
				<li><a href="/admin/alerts">Alerts</a></li>
				<li><a href="/admin/triggers">Triggers</a></li>
				<li><a href="/admin/timers">Timers</a></li>
				<li><a href="/admin/sfx">SFX</a></li>
				<li><a href="/admin/schedule">Schedule</a></li>
				<li><a href="/admin/tips">Tips</a></li>
				<li><a href="/admin/quotes">Quotes</a></li>
				<li><a href="/admin/raffle">Raffle</a></li>
				<li><a href="/admin/autogreet">Auto-greet</a></li>
				<li><a href="/admin/giveaway">Giveaway</a></li>
				<li><a href="/admin/redemptions">Redemptions</a></li>
				<li><a href="/login">Connect</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer>
		<small>Copyright &copy; 2020 Steve Guidetti. Source available on <a href="https://github.com/stevotvr/stevelabs" target="_blank">GitHub</a> under the <a href="https://github.com/stevotvr/stevelabs/blob/master/LICENSE.txt" target="_blank">MIT License</a>.</small>
	</footer>
	<script src="/backend.js"></script>
</body>
</html>
