<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stovelabs</title>
</head>
<body>
	<h1>Stovelabs</h1>
	<nav>
		<ul>
			<li><a href="/admin/settings">Settings</a></li>
			<li><a href="/admin/alerts">Alerts</a></li>
			<li><a href="/admin/commands">Commands</a></li>
			<li><a href="/admin/timers">Timers</a></li>
			<li><a href="/admin/sfx">SFX</a></li>
			<li><a href="/admin/schedule">Schedule</a></li>
			<li><a href="/admin/tips">Tips</a></li>
			<li><a href="/admin/raffle">Raffle</a></li>
		</ul>
	</nav>
	{{{body}}}
</body>
</html>
