<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Stevelabs</title>
</head>
<body>
	<header>
		<h1>Stevelabs</h1>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer>
		<small>Copyright &copy; 2021 Steve Guidetti. Source available on <a href="https://github.com/stevotvr/stevelabs" target="_blank">GitHub</a> under the <a href="https://github.com/stevotvr/stevelabs/blob/master/LICENSE.txt" target="_blank">MIT License</a>.</small>
	</footer>
</body>
</html>
