{{#if connectUrl}}
<a href="{{connectUrl}}">Connect to Twitch</a>
{{else}}
<p>Connected to Twitch</p>
{{#each alerts}}
<form action="test" method="POST">
	<input type="hidden" name="alert" value="1">
	<input type="hidden" name="type" value="{{@key}}">
	<input type="hidden" name="user" value="test">
	<input type="hidden" name="months" value="3">
	<input type="hidden" name="recipient" value="recipient">
	<input type="hidden" name="subcount" value="5">
	<input type="hidden" name="viewers" value="26">
	<input type="hidden" name="amount" value="52">
	<input type="hidden" name="message" value="This is a test message">
	<input type="submit" value="{{@key}}">
</form>
{{/each}}
{{/if}}
