<h2>Raffle</h2>
<form method="post">
	<fieldset>
		<legend>Raffle Settings</legend>
		<label><input type="checkbox" name="raffle_active" id="raffle_active"{{#if data.raffle_active }} checked{{/if}}> Enable Raffle</label>
		<fieldset class="buttons">
			<input type="reset" value="Reset">
			<input type="submit" name="save" value="Save">
		</fieldset>
	</fieldset>
</form>
<form method="post" autocomplete="off">
	<input type="hidden" name="add" value="1">
	<fieldset>
		<legend>Add Entrant</legend>
		<label>User: <input type="text" name="user"></label>
		<fieldset class="buttons">
			<input type="submit" value="Add">
		</fieldset>
	</fieldset>
</form>
<form method="post">
	<fieldset>
		<legend>Entrants</legend>
		<table class="entrants">
			{{#each data.users }}
			<tr>
				<td>{{this}}</td>
				<td><input type="submit" name="delete[{{this}}]" value="&times;"></td>
			</tr>
			{{/each}}
		</table>
	</fieldset>
</form>
