* {
  background: transparent;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  color: #ccc;
  display: block !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  overflow: hidden;
  text-align: center;
}

body > * {
  position: absolute;
  width: 100%;
}

.alert {
  bottom: 20%;
  opacity: 0;
  transition: opacity 800ms ease-out;
}

.alert p {
  font-weight: bold;
  text-shadow: 0 0 .03em #222;
}

.alert p span {
  color: #f00;
}

#countdown {
  bottom: 78px;
  left: 12px;
  font-size: 36px;
  text-align: left;
}

#nextstream {
  font-size: 72px;
  top: 468px;
}

#loading {
  background: linear-gradient(#02070e, #000);
  bottom: 0;
  height: 70px;
  opacity: .75;
}

#loading img {
  animation: rotation 10s infinite linear;
  position: absolute;
  bottom: 62px;
  right: 26px;
}

#loadingtext {
  bottom: 78px;
  font-size: 48px;
  right: 0;
  position: absolute;
  text-align: left;
  width: 350px;
}

#loadingtext:after {
  animation: ellipsis steps(4, end) 2s infinite;
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  width: 0;
}

#tips {
  transition: opacity 500ms ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}
