{
  "tip": {
    "level": 0,
    "userTimeout": 30,
    "globalTimeout": 0,
    "aliases": [ ],
    "command": "tip"
  },
  "addtip": {
    "level": 1,
    "userTimeout": 300,
    "globalTimeout": 30,
    "aliases": [ ],
    "command": "addtip"
  },
  "shoutout": {
    "level": 2,
    "userTimeout": 0,
    "globalTimeout": 5,
    "aliases": [ "so" ],
    "command": "say Check out ${1} at twitch.tv/${channel ${1}}"
  },
  "echo": {
    "level": 3,
    "userTimeout": 0,
    "globalTimeout": 0,
    "aliases": [ ],
    "command": "say ${1:}"
  },
  "discord": {
    "level": 0,
    "userTimeout": 0,
    "globalTimeout": 15,
    "aliases": [ ],
    "command": "say You can join us on my Discord server at discord.io/stovegarden"
  },
  "holdon": {
    "level": 0,
    "userTimeout": 60,
    "globalTimeout": 15,
    "aliases": [ ],
    "command": "sfx holdon"
  },
  "clap": {
    "level": 0,
    "userTimeout": 60,
    "globalTimeout": 15,
    "aliases": [ ],
    "command": "sfx golfclap"
  }
}
