{
  "host": "localhost",
  "port": 3000,
  "twitch": {
    "channel": {
      "username": "",
      "password": ""
    },
    "bot": {
      "username": "",
      "password": ""
    }
  },
  "ssl": {
    "enabled": false,
    "keyfile": "",
    "cert": "",
    "cafile": ""
  }
}
