{
  "debug": false,
  "host": "localhost",
  "port": 3000,
  "secret": "",
  "twitch": {
    "api": {
      "client": "",
      "secret": ""
    },
    "channel": {
      "username": "",
      "password": ""
    },
    "bot": {
      "username": "",
      "password": ""
    }
  },
  "donordrive": {
    "instance": "",
    "participant": 0
  },
  "ssl": {
    "enabled": false,
    "keyfile": "",
    "cert": "",
    "cafile": ""
  }
}
